#form_contact input{
    border: 1px solid white;
    background-color: #eee;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    width: 89%;
}

#form_contact input:focus {
    outline: none;
    box-shadow: 0 0 10px rgb(153, 60, 60);
}

#form_contact button {
    
    padding: 12px 20px;
    margin: 8px 0;
    height: 40px;
    font-size: 90%;
}

#form_contact label {
    font-size: 100%;
    font-weight: bold;
}

main{
    margin-top: 50px;
    overflow: hidden;
}

div.contact_item{
    float: left;
}

#map{
    width: 68.3%;
    height: 570px;
}

#form_contact{
    background: white;
    width: 30%;
    padding: 10px;
    overflow: hidden;
}

#map_address{
    padding-left: 2px;
}

#map_address li {
     list-style-type: none;
}


@media screen and (max-width: 800px){

    #map,
    #form_contact{
         float: none;
         width: 96%;
    }

    #map{
        width: 100%;
    }
}