main {
    margin-top: 55px;
    margin-bottom: 10px;
}

.grid-container {
  display: grid;
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto auto;
  overflow: hidden;
    padding: 5px;
    background: #eee;
}

.grid-item{
  background: white;
  padding: 5px;
}
.grid-item img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    border: 1px solid black;
    cursor: pointer;
}

.details_img{
    height: 300px !important;
    width: 100% !important;
}

#details_container{
    grid-template-columns: auto auto;
}

.modal{
    padding-top: 50px;
}