header nav ul{
    width: 80%;
    position: fixed;
    top: 0px;
    z-index: 1;
}

header nav ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    list-style-type: none;
}

header nav ul li {
    float: left;
}



header nav ul li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

header nav ul li a:hover:not(.active) {
    background-color: #111;
}

header nav ul li a.active {
    background-color: rgb(153, 60, 60);
}
body {
    margin-left: 10%;
    margin-right: 10%;
    background: #ddd;
    font-family: "Verdana,sans-serif";
    font-size: 17px;
}


.anchor{
  display: block;
  height: 45px; 
  margin-top: -45px;
  visibility: hidden;
}

#home canvas#home_canvas {
    display: block;
    margin: auto auto;
    width: 100%;
}




#presention {
    height: 600px;
}

#testimonials{
    height: 300;
}


#services,
#team{
   height: 410px;
}



#home{
    background: white;
}


#services{
    background: #eee;
}

#team div.team_member p,
#services div.item_service p{
    text-align: center;
}


#testimonials{
    background: white;
}


#team{
    background: #eee;
    padding: 05px;
}
#team div.team_member{
    background: white;
}

#services div.item_service,
#team div.team_member {
    
    float: left;
    padding: 1%;
    width: 21%;
    margin: 1%;
}

#services div.item_service img,
#team div.team_member img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 128px;
}

#services div.item_service h2,
#team div.team_member h3,
#team div.team_member h4{
    text-align: center;
    color: rgb(153, 60, 60);
}



#presention{
    background: white;
}


#footer_container, footer {
    background-color: #333;
    overflow: hidden;
}

div.col_footer a {
    text-decoration: none;
    color: white;
}

div.col_footer ul {
    padding-left: 2px;
}

div.col_footer li {
    list-style-type: none;
}

div.col_footer {
    padding: 1%;
    float: left;
    width: 22%;
    color: white;
    background: transparent;
}

div.col_footer h4{
    background: rgb(153, 60, 60);
    padding: 5px;
    margin-bottom: 0px;

}

.icon{
    margin-right: 5px;
    margin-top: 2px;
    padding-top: 5px;
}

input{
    padding: 5px;
    height: 20px;
    margin: 5px 5px 5px 0px;
}

.btn_submit{
    background: rgb(153, 60, 60);
    outline: none;
    border: 0px solid rgb(153, 60, 60);
    color: white;
    height: 30px;
    padding: 5px;
    margin: 5px 5px 5px 0px;
    cursor: pointer;
}

div.col_footer input{
    width: 95%;
    margin-top: 2px;
}

.btn_submit:hover{
    background: #111;
}


#testimonials{
    padding: 20px;
}

cite{
    padding-left: 48px;
    background:url('../images/blockquote.png');
    background-repeat:no-repeat;font-style:normal;
    margin-left:32px;
    font-family:"Segoe Print", "Times New Roman", Verdana;
    text-justify: justify;
    height: 250px;
    display: block;
}

article cite{
    height: 150px;
}

.pagination {
    display: inline-block;
    
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: rgb(153, 60, 60);
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

@media screen and (max-width: 800px){
    div.col_footer,
    #services div.item_service,
    #team div.team_member,
    header nav ul li
     {
         float: none;
         width: 96%;
    }

    
    header nav ul li{
        width: 100%;
    }

    header nav ul{
        width: 100%;
        position:inherit;
    }

    #home,
    #testimonials,
    #presention,
    #services,
    #team,
    cite{
        height: inherit;
    }

    article cite{
        height: 250px;
        display: inherit;
    }
}